* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* Variáveis */
:root {
  --grey:#6C7278;

}


/* estilo do título da página criar-conta */
.title h1{
  font-family: "Audiowide", sans-serif;
    font-weight: 400;
    color: var(--white-color);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    align-self: stretch;
    
    flex-shrink: 0;
    
    margin-bottom: 5.6rem;
    
  }
  
  /* ------ */

  body {
    padding:6rem 1.9rem 10.4rem 1.8rem;
  }

/* estilo do formulário da página criar-conta */
  .form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    flex-shrink: 0;

    width: 100vw;
    min-width: 36rem;
    max-width: 32%;

    max-height: 67.2rem;
    
   

    border-radius: 3.2rem;
    background: rgba(36, 47, 45, 0.47);
  }

  .social {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 35.5rem;
    gap: 1.2rem;

    margin: 2.4rem 2.4rem 3.4rem;

    
  }
  
  button  {
    max-height: 4.8rem;
    padding: 1.2rem 2.4rem;

    justify-content: center;
    align-self: stretch;

    border-radius: 10px;
    border: 1px solid #EFF0F6;
    background: var(--Primary-0, #FFF);
    box-shadow: 0px -3px 6px 0px rgba(244, 245, 250, 0.60) inset;
  
  }

  button a {
    color: var(--Secondary-500, #1A1C1E);
    text-align: center;

    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;

    font-weight: 600;
    line-height: 140%; /* 19.6px */

    letter-spacing: -0.14px;

  }

  button img {
    
    margin-right: 1.2rem;
  }

  button .google {
    width: 2rem;
    height: 2rem;
  }

  button .apple{
    width: 1.8rem;
    height: 1.8rem;
  }

  button .microsoft {
    width: 1.6rem;
    height: 1.6rem;
  }
  
  .box-form-complete {
    display: flex;

    height: 46px;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    border-radius: 1rem;
    border: 1px solid var(--Stroke, #EDF1F3);
    background: var(--Primary-0, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  }

  .login, .email, .dt-nascimento, .senha, .confirmar-senha {
    margin-bottom: 1.6rem;
    border: none;
  }

  p {
    padding: 1.6rem 5.6rem 1.6rem;
  }

  p , a {
    color: #FEFEFF;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    
  }

  a {
    text-decoration: none;
  }

  .box-form-submit {
    display: flex;
  
    height: 48px;
    
    justify-content: center;
    align-items: center;
    
    flex-shrink: 0;

    border-radius: 10px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%), #594FEF;
    box-shadow: 0px 1px 2px 0px rgba(37, 62, 167, 0.48), 0px 0px 1.9px 1px #413C8D;
  }

