* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  display: none;
}

/* Variáveis */
:root {
  --white-color: #fff;
  --grey-color: #6C7278;
  --black-color: #000;
  --bg-color-dark:#1D1D1D;
  --green-btn: #14816B;
  --green-hober-btn: #1dc3a2;
  --transition: .5s;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  height: 100vh;
  background: linear-gradient(199deg, #1D1D1D 36%, #0A7761 85%);
  background-size: cover;
  background-repeat: no-repeat;
}

