* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis */
:root {
  --white-color: #fff;
  --bg-color-dark:#1D1D1D;
  --green-btn: #14816B;
  --green-hober-btn: #1dc3a2;
  --transition: .5s;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  height: 100vh;
  background: linear-gradient(199deg, #1D1D1D 36%, #0A7761 85%);
  /* background-color: rgba(36, 36, 36);
  background-color: linear-gradient(199deg, rgba(10, 119, 97, 0.20) 75%); */
  background-size: cover;
  background-repeat: no-repeat;
}

.fp-logo {
  margin: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.fp-logo p {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  color: var(--white-color);
  text-align: center;
  font-size: 32px;
  letter-spacing: 0.96px;
}

.btn {
  display: flex;
  width: 355px;
  padding: 10px 24px;
  margin: auto;
  justify-content: center;

  border-radius: 10px;
  border-style: none;
  background: #14816B;
  box-shadow: 0px 1px 2px 0px rgba(37, 62, 167, 0.48);

  color: var(--white-color);
  font-size: 16px;
  transition: var(--transition);

}

.btn:hover {
  background: var(--green-hober-btn);
}

a {
  display: flex;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  justify-content: center;
  margin: 42px 154px;
}

